
.navtabs-container{
    @apply flex space-x-[2.5rem] items-center  ;
}

.active{
    @apply relative;
}
.active::after{
    position: absolute;
    background-color: orange;
    height: 9px;
    width: 100%;
    bottom: 20px;
}
.handbugger{
    @apply sm:visible lg:hidden md:hidden;
}
.cancel{
    display: none;
}
/* @media screen and (max-width:572px){
    .navtabs-container{
        @apply flex flex-col space-y-[3.75rem] items-center justify-start  absolute top-0 py-12 bg-white w-full space-x-0 h-screen;
    }
    .hide-navTab{
        @apply hidden;
    }

    .nav-tabs{
        @apply m-0 text-[2rem] font-[400];
    }

    .handbugger{
        display:block;
    }
    .cancel{
        @apply mr-[1.875rem] self-end block cursor-pointer;
    }
    .navtabs-container.close{
        right:-100%;
    }
} */