
.navtabs-container{
    @apply flex space-x-[2.5rem] items-center  bg-amber-400 ;
}

.active{
    @apply relative;
}
.active::after{
    position: absolute;
    background-color: orange;
    height: 9px;
    width: 100%;
    bottom: 20px;
}
.handbugger{
    @apply  lg:hidden md:hidden;
}
.cancel{
    display: none;
}


@media screen and (max-width:590px){
    .navtabs-container{
        @apply flex flex-col space-y-[3.75rem] items-center justify-start  absolute top-0 py-12 bg-red-600 w-full space-x-0 h-screen ;
    }
    .hide-navTab{
        @apply hidden;
    }

    .nav-tabs{
        @apply m-0 text-[2rem] font-[400];
    }

    .handbugger{
        @apply block;
    }
    .cancel{
        @apply mr-[1.875rem] self-end block cursor-pointer;
    }
    .navtabs-container.close{
        right:-100%;
    }
}
@media (min-width:590px) {
    .handbugger{
        @apply hidden;
    }
}