
.container {
  @apply relative;
}
.overlay{
  @apply absolute bottom-0 left-0 right-0 h-0 overflow-hidden;
  transition: 0.5s ease;
}
.container:hover .overlay{
  height: 100%;
}
.text{
  color: white;
  position:absolute;
  top:50%;
  right:40%
}
textarea{
  resize: none;
}
.love{
  @apply  block mx-auto mb-[5.00rem] lg:hidden ;
}
.activities{
  @apply grid place-items-center mb-10 lg:grid lg:place-items-start;
}
.smallScreen-icon{
  @apply hidden sm:block
}
.largeScreen-icon{
  @apply visible;
}
.project-activity{
  @apply mb-8;
}
.product-design{
  @apply text-orange;
}
.button{
  @apply mb-0
}




 @media (max-width:590px) {
  .top{
     @apply order-[-1];
   }

   @media (max-width:630px) {
     .single-grid{
       @apply space-y-7;
     }
     .single-grid .container:last-child {
        @apply mb-0
     }
     .experience-card{
        @apply place-items-center gap-y-12 grid text-center;
     }
     .tools{
       @apply text-center text-xl font-[500]
     }
     .dif-tools{
       @apply text-center 
     }
     .smallScreen-icon{
      visibility: visible;
    }
    .buttonContainer{
      @apply grid place-items-center mb-[8.4rem];
    }

   
   }
   
  }